<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user -->
<!-- -->
<!-- For professional support please see -->
<!-- http://www.qos.ch/shop/products/professionalSupport -->
<!-- -->
<configuration scan="true">
	<jmxConfigurator />
	<property name="APP" value="spring-dubbo" />
	<property name="LOG_HOME" value="/opt/spring/log/spring-dubbo" />
	<appender name="DETAIL" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_HOME}/${APP}_detail.log</File>
		<encoder>
			<pattern>%d{yy-MM-dd.HH:mm:ss.SSS} [%-16t] %-5p %-22c{0} - %m%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/${APP}_detail.log.%d{yyyyMMdd}.%i%d{HH}</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize> 
            </timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yy-MM-dd.HH:mm:ss.SSS} [%-16t] %-5p %-22c{0} - %m%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<logger name="org.springframework" level="WARN" />

	<root level="INFO">
		<appender-ref ref="DETAIL" />
		 <appender-ref ref="CONSOLE"/>
	</root>
</configuration>